.header {
  position: relative;
  top: 0;
  left: 0%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  white-space: nowrap;
    display: inline;
    visibility: visible;
    width:100%;
    overflow: hidden;
    border-bottom: 5px solid black;
    animation: animate 2s linear forwards;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  background-color: #F25278;
}

.aboutUs { 
  position: relative;
  border: none;
  padding:20px;
  background-color:#F25278;
  font-family:'Futura';
}

.aboutUsVisible {
  color:black;
  background-color:#F25278;
  position: absolute;
  /* bottom: -100%; */
  left: 50%;
  transform: translateX(-50%);
  animation: smooth-appear 2s ease forwards;
  /* animation: aboutUsVisible 2s ease;
  animation-fill-mode: forwards; */
  /* bottom: 50 px; */
  text-align: center;
}

.aboutUsButton {
  background-color: #F25278;
  border: none;
  font-family:'Futura';
}



body {
    font-family: 'Futura';
    background-color: rgb(255, 182, 193);
    width:100%;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .opener {
    visibility: visible;
  }

  .hideTheOpener {
    visibility: hidden;
    display: block;
    position: absolute;
  }

  .wrapper{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 18% 18% 18% 18% 18%;
    grid-auto-flow: row;
  }

  .column {
    background-color: rgb(246, 121, 142);
    color: #000;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }
  
  .readMoreButton {
    border: none;
    font-family: 'Futura';
    background-color: rgb(246, 121, 142);
  }

  .readMoreButton:hover {
    color: white;
  }

  .sayMore {
    visibility: hidden;
    /* height: -12%; */
    display: block;
    position: absolute;
  }

  .sayMoreVisible {
    visibility: visible;
  }

  .columnPreview {
    float: left;
    width: 33.33%;
    overflow: hidden;
  }

  .rowPreview:after {
    content: "";
    display: table;
    clear: both;
  }

  .recipePreview {
    top: 10%;
    white-space: nowrap;
    display: block;
    visibility: hidden;
    width:100%;
    overflow: hidden;
    position: absolute;
  }

  .recipePreviewVisible {
    visibility: visible;
  }

  .recipeSelectionScreen {
    top: 10%;
    white-space: nowrap;
    display: block;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
  }

  .recipeSelectionScreenVisible {
    visibility: visible;

    top: 10%;
  }

  .miseEnPlace {
    white-space: nowrap;
    display: block;
    visibility: hidden;
    width:100%;
    overflow: hidden;
    position: absolute;
  }

  .miseEnPlaceVisible {
    visibility: visible;
  }

  .recipeTitleVisible {
    visibility: visible;
    border-bottom: 5px solid black;
    animation: animate 2s linear forwards;
  }

  .aboutUsExitButton {
    animation: smooth-appear 2s ease reverse;
    animation-fill-mode: backwards;
    animation-direction: reverse;
  }

  .instructions {
    visibility: hidden;
    overflow: hidden;
    position: fixed;
  }


  .instructionsVisible {
    visibility: visible;
    

    &--container {
      list-style: none;
      font-weight: 600;
      overflow: hidden;
      height: 40px;
      padding: 0 40px;


    &--list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &--item {
        line-height:40px;
        margin:0;
      }
    }
    }
  }

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes animate {
  0% {
    height: 0px;
  }

  30% {
    height: 43px;
  }

  60% {
    height: 86px;
  }
}

@media screen and (max-width: 600px) {
  .columnPreview {
    width: 100%;
  }

  .wrapper{
    grid-template-columns: repeat(1, 100%);
  }
}

@keyframes smooth-appear {
  0%{
    height: 7%;
  }
  100%{
    height: 15%;
  }
}