.header {
  position: relative;
  top: 0;
  left: 0%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  white-space: nowrap;
  min-height: 1vh;
  z-index: 1;
  display: inline;
  visibility: visible;
  width:100%;
  overflow: hidden;
  border-bottom: 5px solid #192F01;
  animation: animate 2s linear forwards;
}

.backToHome {
  border: none;
  visibility: visible;
  background: none;
}

.backToHome:active {
  border: none;
  background-color: none;
}

.homeButton {
  text-align: left;
  position: absolute;
  border: none;
  padding: 0;
  background: none;
  top: 0;
  left: 0;
  margin-top: 35px;
  opacity: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  animation: opacity 1s linear forwards;
  animation-direction: reverse;
  animation-delay: 2s
}

.socialButtons {
  border: none;
  z-index: 2;
  width: 50px;
  height:50px;
  background-color: #192F01;
}



.instructionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  width: 100%;
}

.instructionTitle {
  font-size: 13px;
}

.settingsButton {
  text-align:right;
  align-self:flex-end;
  border: none;
  width:30px;
  height:30px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  background-color: #192F01;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.aboutUs { 
  position: relative;
  border: none;
  padding:16px;
  /* margin-right:20px; */
  font-family:'Futura';
  z-index: 1;
}

.aboutUsButtonBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.aboutUsVisible {
  color:#F8EFEA;
  position: absolute;
  animation: smooth-appear 2s ease forwards;
  text-align: center;
  z-index: 1;
  width:100%;
}

.aboutUsButton {
  color:#F8EFEA;
  background-color: #192F01;
  border: none;
  font-family:'Futura';
  z-index: 1;
  /* margin-left: 15px; */
}



.aboutUsExitButton {
  border: none; 
  position:absolute;
  right:0;  
  margin-right: 20px;
  visibility: hidden;
}
.aboutUsExitAnimation{
  animation: opacityReverse 2s linear reverse;
  animation-fill-mode: forwards;
  border: none;
  position:absolute;
  right:0;  
  margin-right: 20px;
}

.aboutUsExitVisible {
  border: none;
  position:absolute;
  right:0;  
  margin-right: 20px;
  visibility:visible;
  animation: opacity 2s linear reverse;
  color: #F8EFEA
}



ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction:column;
  row-gap: 20px;
  color: rgb(216, 216, 216);
}

.enterText {
  font-family: 'Futura';
  font-size:15px;
  width: 200px;
}

button {
  padding: 5px;
  border:1px solid;
  border-radius: 5px;
  background: none;
  font-family: 'Futura';
  font-size: 15px;
  cursor: pointer !important;
  color:#192F01;
}

button:hover {
  cursor: pointer;
  color:#F4DECB;
  border: 1px solid #192F01;
  background-color: #192F01;
}

button:disabled {
  /* cursor:default; */
  color:rgba(16, 16, 16, 0.3);
}

.backButtonAlign {
  display: flex;
  width:100%;
  justify-content: flex-start;
  margin-top:20px;
  margin-bottom: 20px;
}

.nextButtonAlign {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.backButtonBox {
  flex:1;
  text-align:left;
}

.backButton {
  text-align: left;
  margin-left: 10px;
}

body {
    font-family: 'Futura';
    background-color: #F8EFEA;
    width:100%;
    height:100%;
    font-size: 16px;
    text-align: center;
    margin: 0px;
    min-height: 75vh;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    color: #192F01;
  }

.opener {
  gap: 15px;
  visibility: visible;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
}

.wrapper{
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  max-height: 65vh;
  padding-bottom: 10px;
  padding-top: 5px;
}

.recipeSelectionTitle {
  font-size: 20px;
  overflow:visible;
  text-wrap: wrap;
}

.cardImage {
  overflow: hidden;
  padding: 0px;
  /* max-height:fit-content */
  max-height: 100%;
  height: 100%;
}

.backToHome {
  border:#192F01;
}

.socialLinks {
  border: 1px solid #192F01;
}



.row {
  display: flex;
  flex-direction: row;
  background-color: #DED369;
  color: #192F01;
  border: solid #192F01 2px;
  border-radius: 20px;
  font-size: 100%;
  width: 42%;
  column-gap: 0px;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  margin-block-start: 8px;
  margin-inline-end:8px;
  overflow: hidden;
  /* height:100px; */
  /* height: fit-content; */
}

.column {
  width: 40%;
  padding: 15px;
  display: flex;
  flex: 1 0 42%;
  flex-direction: column;
  justify-content: center;
  column-gap: 10px;
  margin: 10px;
}

.sayMore {
  display: none;
  visibility: hidden;
  position: absolute;
  animation: opacityReverse 2s linear reverse;
}

.sayMoreVisible {
  display:inherit;
  visibility: visible;
  width: 95%;
  animation: opacity 2s linear reverse;
}

.imageColumn {
  background-color: #DED369;
  border-radius:20px;
  float: left;
  margin:2px;
  overflow: hidden;
  text-wrap: wrap;
  width: 32%;
  border: solid 2px #E0475B;
  scroll-snap-align: center;

}

.columnPreview {
  float: left;
  background-color: #DED369;
  border: solid 2px #E0475B;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 32%;
  margin:2px;
  row-gap: 20px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: none;
  text-wrap:wrap;
  scroll-snap-align: center;
}

.rowPreview {
  width: 100%;
  overflow: scroll;
  max-height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.rowPreview:after {
  content: "";
  display: table;
  clear: both;
}

.recipePreview {
  top: 12%;
  white-space: nowrap;
  display: block;
  visibility: hidden;
  width:100%;
  position: absolute;
  overflow: scroll;
}

.recipeSelectionScreen {
  margin-top:15px;
  white-space: nowrap;
  display: block;
  width: 100%;
  visibility: hidden;
  overflow: scroll;
  justify-content: space-around;
}

.alignPageInfo {
  display: flex;
  justify-content:space-evenly;
  margin-top:5px;
}

.recipeSelectionScreenVisible {
  visibility: visible;
}

.pageButtons {
  border-radius: 20 px;
  font-family: 'Futura';
}

h3 {
  color: #F8EFEA;
}

.miseOrientationButtons {
  color: #F8EFEA;
}

.pageCounter {
  align-self:center;
}

.recipeTitle {
  font-size: 20px;
  align-self:center;
  font-weight:bold;
  text-wrap: wrap;
}

.goAwayAbout {
  animation: smooth-disappear 2s ease;
  animation-fill-mode: forwards;
}

.instructionSettingsButton {
  border: none;
  /* flex:0.333; */
  margin-right: 15px;
  text-align:right;
}

.instructionSettingsBox {
  flex:1;
  text-align: right;
}

.instructions {
  top: 15%;
  max-height: 100%;
  width: 100%;
  visibility: hidden;
  overflow: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructionListManager {
  color:black;
  overflow:hidden;
}

.instructionsText {
  color: white !important;
  max-height: 65vh;
  overflow: scroll;
  padding-left: 40px;
  padding-right: 40px;
}

.instructionManipulation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.instructionManipulationButton {
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  width: 100px;
}

.accentText {
  line-height: 1.5;
  color: #F8EFEA;
  font-size: x-large;
}

.instructionManipulationButton:disabled {
  background-color: rgb(210, 209, 209);
  color: black;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  margin-top: 25px;
  width: 50%;
  align-self:center;
  align-content:center;
}

.switch {
  position: relative;
  display: inline-block;
  text-align: center;
  align-items: center;
  align-self: center;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #faf8e7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #192F01;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #DED369;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c1012ead;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.informationPanel {
  background-color:#E0475B;
  border: 5px solid #192F01;
  border-radius: 30px;
  width: 50%;
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  margin-top:15%;
  visibility: hidden;
  font-size: large;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position:fixed;
  z-index: 1;
  padding-bottom: 3%;
  overflow: scroll;
  max-height:65vh;
}

.balanceLine {
  flex:1;
}

.recipePreviewTitle {
  margin-right:0.5;
  align-self: center;
  font-weight: bold;
  font-size: 20px;
  text-wrap: wrap;
}

.exitInfoPanel {
  width: 100%;
  display: flex;
  justify-content: right;
  align-self: flex-start;
  font-family: 'Futura';
  border: none;
  background-color:#E0475B;
  color: white;
  font-size: large;
  overflow:hidden;
  position:static;
  z-index: 5;
}

.imggg {
  width: 100%;
}

.instructionExits {
  display: flex;
  justify-content: center;
  padding-left: 15 px;
  align-items: flex-start;
  margin-left: 15px;
  flex-direction: column;
  flex:1;
}

.instructionExitsButtons {
  text-align: left;
}

.previousInstruction {
  animation: previousInstructionAnim 1s;
  animation-fill-mode: forwards;
  color: rgb(152, 152, 152);
}

.searchTerm {
  display:inline;
}

.currentInstruction {
  animation: currentInstructionAnim 1s;
  animation-fill-mode: forwards;
  color:#192F01;
}

.nextInstruction {
  animation: nextInstructionAnim 1s;
  animation-fill-mode: forwards;
  color:rgb(152, 152, 152);
}

.exitInstructionFront {
  animation: leaveInstructionAnim 1s;
  animation-fill-mode: forwards;
}


@keyframes currentInstructionAnim {
  from {
    font-size: 25px;
  }  
  to {
    font-size: 40px;
  }
}  

@keyframes currentInstructionAnimMobile {
  from {
    font-size:20px;
  }
  to {
    font-size: 30px;
  }
}


@keyframes nextInstructionAnim {
  from {
    font-size: 16px;
  }
  to {
    font-size: 25px;    }
}

@keyframes nextInstructionAnimMobile {
  from {
    font-size: 15px;
  }
  to {
    font-size: 20px;
  }
}

@keyframes previousInstructionAnim {
  from {
    font-size: 40px;
  }
  to {
    font-size: 25px;
  }
}

@keyframes previousInstructionAnimMobile {
  from {
    font-size: 30px;
  }
  to {
    font-size: 20px;
  }
}

@keyframes leaveInstructionAnim {
  from {
    font-size: 25px;
  }
  to {
    font-size: 16px;
  }
} 

@keyframes leaveInstructionAnimMobile {
  from {
    font-size: 20px;
  }
  to {
    font-size: 15px;
  }
}


@-o-keyframes opacity {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-moz-keyframes opacity {
  0% {opacity:1;}
  100% {opacity:0;}
}

@keyframes opacity {
  0% {opacity:1;}
  100% {opacity:0;}

}

@keyframes opacityReverse {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes animate {
  0% {
    height: 0px;
  }

  30% {
    height: 53px;
  }

  60% {
    height: 107px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .sayMore {
    width: 90%;
  }

  .backButtonAlign {
    flex-direction: column;
    margin-top:5px;
    margin-bottom: 10px;
  }

  .row {
    width: 85%;
  }

  .homeButton {
    margin-top: 17px;
  }

  .instructionExits {
    flex:1;
  }

  .wrapper {
    overflow:visible;
    max-height: none;
  }

  .instructionExitsButtons {
    font-size: 14px;
  }

  .instructions {
    max-height: 65vh;
  }

  .instructionsText {
    max-height: 55vh;
  }

  .recipeTitle {
    margin-top: 10px;
    /* max-width: 34vw; */
    /* order: 1; */
  }

  .titleContainer {
    order: 1;
  }

  .backButtonBox {
    /* align-self: flex-start; */
    width: 50%;
    flex-grow: 1;
  }

  .instructionsSettingsBox {
    flex-grow:1;
    width: 50%;
  }

  .rowPreview {
    flex-wrap: wrap;
    overflow: visible;
    max-height: none;
  }

  .columnPreview {
    width: 85%;
    overflow: hidden;
  }

  .recipeSelectionScreen {
    max-height:65vh;
    overflow: scroll;
  }

  .imageColumn {
    width: 85%;
    align-items: center;
    overflow: hidden;
  }

  .header {
    animation: none;
    font-size: 12px;
    min-height:10vh;
  }

  .recipePreviewTitle {
    justify-self: center;
    font-weight: bold;
    font-size: 20px;
    order: 1;
    padding-top: 10px;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex:0.333; */
    text-wrap:wrap;
    flex-basis: 100%;
  }

  body {
    font-size:15px;
    min-height:90vh;
    max-height:90vh;
    cursor: pointer;
  }

  button {
    cursor: pointer !important;
  }

  .recipePreview {
    top:15%;
    overflow: scroll !important;
    max-height: 65vh;
  }

  .recipePreviewVisible {
    overflow:scroll !important;
  }
  
  .informationPanel {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 35%;
    margin-bottom:20%;
  }

  .aboutUs {
    margin-top:10px;
    margin-bottom: 20px;
  }

  .aboutUsButton {
    margin-left: 15px;
  }

  .goAwayAbout {
    animation: smooth-disappear-mobile 2s ease;
    animation-fill-mode: forwards;
  }

  .aboutUsVisible {
    min-height: 92px;
    animation: smooth-appear-mobile 2s ease forwards;
  } 

  .currentInstruction {
    animation: currentInstructionAnimMobile 1s;
    animation-fill-mode: forwards;
    color:#192F01;
  }
  
  .nextInstruction {
    animation: nextInstructionAnimMobile 1s;
    animation-fill-mode: forwards;
    color:rgb(152, 152, 152);
  }
  
  .exitInstructionFront {
    animation: leaveInstructionAnimMobile 1s;
    animation-fill-mode: forwards;
  }

  .previousInstruction {
    animation: previousInstructionAnimMobile 1s;
    animation-fill-mode: forwards;
    color: rgb(152, 152, 152);
  }

  .instructionsWrapper {
    flex-wrap:wrap;
  }
}

  .socialButtons:hover {
    border: #192F01;
    background-color: #192F01;
  }

  .aboutUsButton:hover {
    border:none;
    background-color: none;
  }

  .aboutUsExitVisible:hover {
    border: none;
    background-color: #192F01;
  }

  button:disabled:hover {
    color:rgba(16, 16, 16, 0.3);
  }

  .miseOrientationButtons:hover {
    color: white;
  }

  .pageButtons:hover {
    color: white;
  }

  .exitInfoPanel:hover {
    border: none;
    background-color: #E0475B;
    color:#192F01;
  }
  
  .pageButtons:hover:disabled {
    background-color: #F8EFEA;
    border-color: rgba(16, 16, 16, 0.3);
  }

  .backToHome:hover {
    background-color: rgb(255, 240, 242);
    border: none;
  }

  .instructionSettingsButton:hover {
    border: none;
    background-color: #F8EFEA;
  }

  .socialLinks:hover {
    background-color: #192F01;
  }

  .instructionExitsButtons:hover {
    color:white;
  }

  .row:hover {
    background-color: #f2edc3;
    cursor:pointer;
    animation: highlightCard ease 0.5s forwards;
  }

  .instructionManipulationButton:hover:disabled {
    color:black;
  }

@keyframes smooth-appear {
  0%{
    height: 7%;
  }
  100%{
    height: 25%;
  }
}

@keyframes smooth-disappear {
  0%{
    height: 25%;
  }
  100%{
    height: 7%;
  }
}

@keyframes smooth-appear-mobile {
  0%{
    height:92px;
  }
  100%{
    height:350px;
  }
}

@keyframes smooth-disappear-mobile {
  0% {
    height: 350px;
  }
  100% {
    height: 92px;
  }
}

@keyframes highlightCard {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.05)
  }
}

.columnPreview::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.columnPreview::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}